.card .picture2 {

  display: none;

}

.card:hover .picture1 {

  display: none;

}
.card:hover .picture2 {

  display: block;

}

IMG CLASS */
 .card mb-3{
  display: flex;
}
.formulaire{
  bottom:20px;
  left: 20%;
  
}
#form{
  border-radius: 5px;
  border: 1px solid aquamarine;
  width: 300px;

}

input{
  border-radius: 5px;
   margin-left: 10px;
  border: 1px solid aquamarine;
}
button{
 
  background-color: aquamarine;
  border-radius: 5px;
  margin-left: 10px;
} 
/*  */
.rond{
  display: flex;
  width: 50%;
  margin: auto;
}
.rond1{
  width: 30%;
  margin: 20px 10px 5px 10px;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  margin: auto;
  margin-top:15px ;
}
h3{
  margin-bottom: 3px;
  margin-left: 70px;
}
.select1{
  margin-bottom: 35px;
  background-color: blue;
  color: white;
  margin-left: 60px;
}
p{
  text-align: center;
  margin-bottom: 3px;
}